#For Automat-LLM
langchain_huggingface   #for using grok-1
langchain_groq          #for using gpt-oss-20b
langchain_community
langchain
transformers
sentence-transformers
pydantic
langchain_core
weaviate-client<5
faiss-cpu
numpy
groq
rich

#For Automat Text-To-Speech (TTS)
#dia
#playsound

#For Automat-ImageGen
diffusers #Debug package for Stable Diffusion model use
modelscope
addict 
datasets==2.12.0
pyarrow==11.0.0

#For automat-server
fastapi 
asyncio
uvicorn
uuid

#Misc features for Automat
#accelerate 
#faiss-gpu