#For Automat-LLM
langchain_huggingface
langchain_community
langchain
transformers
pydantic
langchain_core
weaviate-client
faiss-cpu
#faiss-gpu
playsound
numpy

#For automat-server
fastapi 
asyncio
uvicorn
uuid